/* Roboto font with 400 and 700 bold*/
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/* custom properties scope
instead of having to put hex code in every time
we do background-color: var(--line-border-empty); */
:root {
   --line-border-fill: #3498db; 
   --line-border-empty: #e0e0e0;
}


*{
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}
/* sets the numbers to flex row and spaces them*/
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

/* when you use before you must set content to empty string*/
/* this is the gray line behind numbers*/
.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: .4s ease;
}
/* progress line centerd with transition*/
/* z-index make content behind numbers*/
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

/* to algin circles on number set to display
   flex algin and justify content center
   */
.circle {
   background-color: white;
   color: #999;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 3px solid var(--line-border-empty);
   transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: inherit;
    /* padding 8px top and bottom 30px left and right*/
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    /* shrink effect on hover*/
    transform: scale(0.98);
}

/* get rid of outline in focus state */
.btn:focus {
    outline: none;
}

/* targets if button is disabled button turn gret*/
.btn:disabled {
    background-color: var(--line-border-empty);
    /*will not allow cursor to click button */
    cursor: not-allowed;
}


