/* Roboto font with 400 and 700 bold*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #efedd6;
    font-family: 'roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box{
    background-color: steelblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    /* we want to move boxes along x-axis */
    /* moves divs of screen to right */
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

/* want to make boxes alternate when transitioning */
/* this puts all even on left side all odds on right*/
.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);  
}

.box h2 {
    font-size: 42px;
}